* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: sans-serif;
}

#app {
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background: var(--sky-bottom);
}

/* =========================
   CIELO
========================= */

.sky {
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to bottom,
        var(--sky-top),
        var(--sky-bottom)
    );
}


/* =========================
   MONTAÑAS LEJANAS
========================= */

.mountains-far {
    position: absolute;
    left: -5%;
    bottom: 20%;
    width: 110%;
    height: 40%;
    background: var(--mountain-far);

    clip-path: polygon(
        /* izquierda */
        0% 42%,
  
        14% 68%,
        20% 47%,

        27% 60%,

        /* montaña izquierda central */

        40% 30%,



        /* espacio donde aparecerá el sol */
        50% 50%,

        /* montaña derecha central */


        58% 18%,


        /* montañas derecha */
        68% 45%,
        75% 33%,

        86% 57%,

        100% 25%,

        /* base */
        100% 100%,
        0% 100%
    );
}

/* =========================
   MONTAÑAS CERCANAS
========================= */

.mountains-near {
    position: absolute;
    left: -5%;
    bottom: 12%;

    width: 110%;
    height: 38%;

    background: var(--mountain-near);

    clip-path: polygon(
        0% 75%,
        12% 50%,
        22% 68%,
        35% 38%,
        46% 65%,
        57% 40%,
        68% 70%,
        80% 32%,
        90% 58%,
        100% 42%,
        100% 100%,
        0% 100%
    );
}


/* =========================
   TIERRA
========================= */

.ground {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 15%;

    background: var(--ground);
}

.tree {
    position: absolute;

    left: 0;
    bottom: 100%;

    width: 0;
    height: 0;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: var(--tree-height) solid var(--tree);

    transform: translateX(-50%);
}

.sunset-scene {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.sun {
    position: absolute;

    width: 64px;
    height: 64px;

    transform: translate(-50%, -50%);

    border-radius: 50%;

    background: #ffd86b;

    z-index: 2;

    touch-action: none;

    cursor: grab;
}

.sun {
    z-index: 2;
}

.mountains-far {
    z-index: 3;
}

.mountains-near {
    z-index: 4;
}

.ground {
    z-index: 5;
}