:root {

    /* =========================
       CIELO — DÍA
       ========================= */

    --day-top: #58c7ff;
    --day-middle: #8bdcff;
    --day-bottom: #dff7ff;


    /* =========================
       CIELO — ATARDECER
       ========================= */

    --sunset-top: #5553aa;
    --sunset-middle: #c76a9f;
    --sunset-bottom: #ff9857;


    /* =========================
       CIELO — NOCHE
       ========================= */

    --night-top: #070a25;
    --night-middle: #111a40;
    --night-bottom: #293d72;


    /* =========================
       MONTAÑAS
       ========================= */

    --mountain-far-day: #79a982;
    --mountain-far-sunset: #996487;
    --mountain-far-night: #22284d;

    --mountain-near-day: #426b4b;
    --mountain-near-sunset: #59405d;
    --mountain-near-night: #10152e;


    /* =========================
       SUELO
       ========================= */

    --ground-day: #193526;
    --ground-night: #04070d;


    /* =========================
       ÁRBOLES
       ========================= */

    --tree-day: #193526;
    --tree-night: #04070d;
}