:root {
    /* =========================
       CIELO
       ========================= */

    --day-top: #5fc8ff;
    --day-middle: #8edcff;
    --day-bottom: #dff7ff;

    --sunset-top: #5c5bb7;
    --sunset-middle: #d56c9f;
    --sunset-bottom: #ff9a55;

    --night-top: #080b2a;
    --night-middle: #121b45;
    --night-bottom: #273b70;


    /* =========================
       MONTAÑAS - DÍA
       ========================= */

    --mountain-far-day: #79a982;
    --mountain-near-day: #426b4b;

    /* =========================
       MONTAÑAS - ATARDECER
       ========================= */

    --mountain-far-sunset: #9c628a;
    --mountain-near-sunset: #5c405e;

    /* =========================
       MONTAÑAS - NOCHE
       ========================= */

    --mountain-far-night: #20264d;
    --mountain-near-night: #10152f;


    /* =========================
       TIERRA / ÁRBOLES
       ========================= */

    --ground-day: #294632;
    --ground-night: #080c17;

    --tree-day: #193526;
    --tree-night: #050810;
}